*{
	margin:0;
	padding:2px;
	box-sizing:border-box;
}

body{
	background-color:lightskyblue;

}
.card{
	width:90%;
	max-width:470px;
	background: linear-gradient(45deg,#00feba,#5b548a);
    margin:100px 10px auto 0px;


}